Package: com.ryanyao.slicey
Name: Slicey
Version: 1.1
Architecture: iphoneos-arm
Description: This is my first theme called Slicey! Enjoy!
Homepage: http://ryanyao.design
Depiction: https://twitter.com/RyanQYao
Section: Themes
Maintainer: Ryan Yao <ryanqyao@gmail.com>
Author: Ryan Yao <ryanqyao@gmail.com>
